:root{
    --clr-text:  #5c5c5c;
    --clr-primary:  #f24633;
    --clr-accent:  #0c0c0c;
    --clr-white: #ffffff;
    
    --ff-title:'Anton', sans-serif; 
    --ff-content: 'Open Sans Condensed', sans-serif;
  }



.category {
    background-color: var(--clr-accent);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 500px;
    font-size: 20px;

}
.btn-category + .btn-category {
    margin-left: 30px;
}

.btn-category {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 30px;
}
.btn-category:focus,
.btn-category:hover{
    color: var(--clr-primary);
    text-decoration: overline;

}
.product{
    background-color: ivory;
    display: inline-flex;
    list-style: none;  
    
}
 
.product-1 {
    width: 210px;
    border: 2px solid black;
   
    margin-right: 5px;
    margin-left: 5px;
}
.product-2 {
    width: 210px;
    border: 2px solid black;
 
    margin-right: 5px;
}
.product-3 {
    width: 210px;
    border: 2px solid black;
   
    margin-right: 5px;
}
.product-4 {
    width: 210px;
    border: 2px solid black;
 
    margin-right: 5px;
}
.product-5 {
    width: 210px;
    border: 2px solid black;
    
    margin-right: 5px;
}
.product-6 {
    width: 210px;
    border: 2px solid black;
    
    margin-right: 5px; 
}

.prod-name {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.product a{
    text-decoration: none;
    color: var(--clr-accent)
}
nav a:hover
nav a:focus{
    color: var(--clr-primary);
    text-decoration: underline;
}

.product-detail {
    display: flex;
}
.product-detail .info {
    margin-left: 90px;
}
.product-detail .avatar {
    margin-left: 100px;
}
.info .brand {
    font-size: 22px;
}
.info h3 {
    font-size: 30px;
    color: var(--clr-primary);
    font-weight: bolder;
}
.info ul {
    font-size: 20px;
    font-weight: bolder;
}
.info select {
    margin-left: 27px;
    padding: 5px;
    display: block;

}
.avatar{
    width: 400px;
}
.avatar > img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.small-img-row {
    display: flex;
    justify-content: space-around;
}
.small-img-col {
    flex-basis: 25%;
    cursor: pointer;
}
.info h1 {
    font-size: 80px;
}
.info .brand {
    font-size: 30px;
}
.product-detail .quantity {
    font-size: 25px;
    font-weight: bolder;
}
.btn-add2cart {
    display: inline-block ;
    background: var(--clr-primary);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
    text-decoration: none;
}
.btn-add2cart:hover{
    background: #563434;
}
.quantity input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid var(--clr-primary);
    text-align: center;
}
.info h5 {
    font-size: 50px;
}
