*{
    font-size: 20px;
    
}
#all{
    width: 750px;
    margin-left: 200px;
    
}
.tenbaitap{
    font-size: 30px;
    color: skyblue;
}
.img{
    width: 750px;
}
.ghichu{
    font-size: 18px;
    text-align: center;
    background-color: lightsteelblue;
}

.hr{
  width: 50%;
  height: 5px;
  background-color: #5c5c5c;
}
:root{
    --clr-text:  #5c5c5c;
    --clr-primary:  #f24633;
    --clr-accent:  #0c0c0c;
    --clr-white: #ffffff;
    
    --ff-title:'Anton', sans-serif; 
    --ff-content: 'Open Sans Condensed', sans-serif;
  }
  
  
  
  html {
    box-sizing: border-box;
    font-family: var(--ff-content);
  }
  
  body{
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  section {
    padding: 20px 20px;
  }
  
  /* typography */
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  h2 {
    font-family: var(--ff-title);
    line-height: 1.5;
    letter-spacing: 1px;
  }
  
  p {
    margin-bottom: 0.85rem ;
  }
  
  .text-primary {
    color: var(--clr-primary);
    opacity: 90%;
  }
  
  .box-logo {
    background-color: var(--clr-primary); 
    width: 280px;
    /* border-top: 120px solid #f24633;
    border-right: 90px solid transparent ; */
    padding-left: 20px;
    font-size: 30px;
    font-family: var(--ff-title);
    color: var(--clr-white) ;
  }
  
  .box-logo a {
    text-decoration: none;
    color: var(--clr-white);
  }
  
  /* navgation */
  
  header {
    padding: 0 0 2cm;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    background-color: var(--clr-accent);
  }
  
  nav a {
    display: inline-block;
    padding: 15px;
    color: var(--clr-white);
    text-decoration: none;
    font-size: 20px;
  }
  
  nav a:hover, 
  nav a:focus{
    color: var(--clr-primary);
    text-decoration: underline;
  }
  
  /* buttons */
  
  
  /* Homepage styles */
  
  .slides-content {
    background-color: #444343;
    background-image: url(../picture/photo-1523901839036-a3030662f220.jpeg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: var(--clr-white);
    padding: 30vh 0;
    padding-left: 50px;
    padding-top: initial;
    padding-top: 30px;
    font-size: 80px;
    font-style: italic;
  }
  .intro {
    text-align: center;
    font-size: 30px ;
    padding: 80px 20px;
  }
  
  .definition-bmi {
    background: var(--clr-primary);
    display: flex;
    flex-direction: column;
    color: var(--clr-white);
    padding: 0;
  }
  
  .definition-bmi__title{
    background-image: url(../picture/tạ.jpg);
    background-color: #b6564a;
    background-blend-mode: multiply;
    padding: 3cm 1cm;
  
  }
  
  /* .definition-bmi__body {
    display: flex;
    justify-content: space-around;
  } */
  
  /* .box-section-title ul li a {
    text-decoration: none;
    color: #fff;
  } */
   /* .active, box-section-title ul li :hover  {
    background: #f24633;
    border-radius: 3px;
  } */
  
  .sub-menu-1 {
    display: none;
  }
  .box-section-title ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: black;
    margin-top: 0px;
    margin-left: -15px;
  }
  .box-section-title ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
  }
  
  .sub-menu-2 {
    display: none;
  }
  .box-section-title ul li:hover .sub-menu-2 { 
    display: block;
    position: absolute;
    background: #0a0a0a;
    margin-top: 0px;
    margin-left: -15px;
  }
  .box-section-title ul li:hover .sub-menu-2 ul {
    display: block;
    margin: 10px;
  }