*{
    font-size: 20px;
    
}
body{
    width: 750px;
    margin-left: 200px;
}
.tenbaitap{
    font-size: 30px;
}
.ghichu{
    font-size: 18px;
    text-align: center;
    background-color: lightsteelblue;
}